.App {
  text-align: center;
}
.Form{
  text-align: left;
  margin: 10px;
  padding: 20px;
}
label{
  padding: 10px;
  font-weight: 400;
}
input{
  margin-left: 10px;
}
select{
  margin-left: 16px;
}
textarea{
  margin-left: 20px;
  margin-top: 5px;
}
button{
  margin: 20px;
}